In [1]:
#Mindex Coding Assignment

In [1]:
from etl_functions import *
import pandas as pd

In [2]:
#Use helper function to download all files from S3 and save locally
download_raw_files()

starting file downloads
downloaded all files from s3

In [3]:
#Read in csv files to pandas dataframes
bengals = pd.read_csv("raw_data/bengals.csv").set_index('Week')
boyd = pd.read_csv("raw_data/boyd_receiving.csv").set_index('Week')
chase = pd.read_csv("raw_data/chase_receiving.csv").set_index('Week')
higgins = pd.read_csv("raw_data/higgins_receiving.csv").set_index('Week')

In [16]:
#join dfs together on 'week' field
joined = bengals.join(boyd, rsuffix='_boyd').join(chase, rsuffix='_chase').join(higgins, rsuffix='_higgins') \
         .rename(columns={'Yards': 'Yards_boyd', 'TD': 'TD_boyd'}) \
         .reset_index()
#         .drop(columns=['Week_boyd', 'Week_chase', 'Week_higgins'])
joined.columns = map(str.lower, joined.columns) #lowercase column names
joined

,week,opponent,location,result,yards_boyd,td_boyd,yards_chase,td_chase,yards_higgins,td_higgins
0,PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

In [17]:
#Display wins/losses as text
joined['result'] = joined['result'].apply(map_wins_losses)
joined

,week,opponent,location,result,yards_boyd,td_boyd,yards_chase,td_chase,yards_higgins,td_higgins
0,PRE1,TB,Away,Win,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,Loss,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,Loss,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0

In [18]:
#Write to Postgresql DB
from sqlalchemy import create_engine
connection_string = 'postgresql://ray_sidener:sayridener@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com/postgres'
engine = create_engine(connection_string)
joined.to_sql('ray_sidener', engine, if_exists='replace')

25